footer {
  background: linear-gradient(to bottom, #2c0a4c, #450d80);
  text-align: center;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0.3rem;
}

p {
  margin: 0;
  font-family: inherit;
  font-size: 0.8rem;
}
